@font-face {
	font-weight: 400;
	font-family: "OpenSans";
	src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
	font-weight: 700;
	font-family: "OpenSans";
	src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
	font-weight: 400;
	font-family: "Neucha";
	src: url("../fonts/Neucha/Neucha-Regular.ttf");
}