doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Cognitive Biases | mrAnderson90 | Project
		link(rel='stylesheet' href='./styles/app.css')

	body
		header
			include includes/hero.pug
		main
			include includes/video-section.pug
			include includes/navigation.pug
			include includes/section-ikea-effect.pug
			include includes/section-premature-optimization.pug
			include includes/section-distorption.pug
			include includes/section-hiper-deprecation.pug
			include includes/section-errors.pug
		footer