.container.section-container
	.subscribe.bg-primary-dark.text-white
		.subscribe-title
			h2.h4
				| Хотите узнать больше?
				br
				| Подпишитесь на обновления
		.subscribe-form
			form(action="#")
				label.form-label.f-18(for="subscribe") Электронная почта
				.input-group
					input.form-control(id="subscribe" type="mail" placeholder="Ваша электронная почта")
					button.btn.btn-primary.send
			.subscribe-rules
				p 
					| Подписываясь, вы принимаете
					|
					a(href="#") правила сервиса
	.info
		p &copy; 2023 Ruslan Andreev
		p 
			| По материалам статьи&nbsp;
			a(href="https://medium.com/hackernoon/cognitive-biases-in-programming-5e937707c27b") Yash Ranadive Cognitive Biases in Programming
		p
			a(href="https://ru.hexlet.io/") Курсы программирования Hexlet