.bg-main.overflow-hidden
	.container.h-100.py-100.d-flex.flex-column.justify-content-between.position-relative
		.row
			.col.col-md-5
				h1
					span.text-primary Когнитивные искажения
					br
					span.text-nowrap в программировании
		img.hero-img.d-none.d-lg-block(src="./images/main.png", alt="main-theme")
		.row.gap-4.gap-md-0
			.col-12.col-md-6
				p Мы, разработчики, часто сталкиваемся с проблемами, которые идут вразрез с нашей продуктивностью. Но мы часто игнорируем целостную картину. Некоторые из этих проблем малозаметны, некоторые существенны. Иногда с ними можно как-то справиться, а иногда, к сожалению, нет.
			.col-12.col-md-6
				p Вместе они формируют что-то вроде замкнутого цикла, и это может привести к длительной потере продуктивности, багам и бесконечному разочарованию. Если мы сможем минимизировать воздействие одного или нескольких из этих факторов, то сможем сломать и цикл, а остатки нейтрализовать.
				div
					a(href='#').btn.btn-primary.text-white.py-3.px-4.text-uppercase Подробнее
