.bg-primary-dark(id="navigation")
	.container.p-0
		.navigation
			.navigation-title
				h3
					span.text-primary 5 когнитивных искажений
					br
					span.text-white о существовании которых стоит помнить
			.navigation-card
				a(href='#ikea-effect')
					h3.navigation-number 1
					h4 Эффект ИКЕА
					p Вы переоцениваете собственные решения, и, как следствие, недооцениваете решения других.
			.navigation-card
				a(href='#premature-optimization')
					h3.navigation-number 2
					h4 Преждевременная оптимизация
					p Вы оптимизируете что-то задолго до того, как в этом появляется необходимость.
			.navigation-card
				a(href='#distortion-of-novelty')
					h3.navigation-number 3
					h4 Искажение новизны
					p Вы даёте более высокую оценку тем событиям, которые произошли недавно, и недооцениваете более старые.
			.navigation-card
				a(href='#hyperbolic-depreciation')
					h3.navigation-number 4
					h4 Гиперболическое обесценивание
					p Вы гонитесь за немедленной маленькой выгодой и игнорируете более крупную, недоступную сейчас, но доступную в будущем.
			.navigation-card
				a(href='#errors-in-planning')
					h3.navigation-number 5
					h4 Ошибка планирования
					p Неправильно рассчитывать время необходимое для завершения задачи.