div(id="ikea-effect")
	.bg-main
		.container.section-container
			.section-head
				.img
					img(src="./images/1.png" alt="ikea-effect")
				.section-title
					h2 Эффект ИКЕА
					h4 Вы переоцениваете собственные решения, и, как следствие, недооцениваете решения других.
			.section-content
				h5.content-title Как проявляется
				.content-body
					p Когнитивное искажение называется так из-за того, что потребители зачастую предпочитают покупать товары, которые они могут собрать сами, а не уже собранные кем-то.
					p Мы склонны переоцнивать наши собственные решения и недооценивать решения других. Если вы когда-то работали в компании, которая использовала тупой внутренний инструмент вместо более удобного готового решения, вы понимаете, о чём я говорю.