div(id="distortion-of-novelty")
	.bg-main
		.container.section-container
			.section-head
				.img
					img(src="./images/3.png" alt="distorption")
				.section-title
					h2 Искажение новизны
					h4 Вы даёте более высокую оценку тем событиям, которые произошли недавно, и недооцениваете более старые.
			.section-content
				h5.content-title Как проявляется
				.content-body
					p Часто это искажение настигает нас, когда нужно решение проблемы и… о! Мы как раз только что решили подобную проблему! Давайте использовать это же решение, потому что оно сработало, и мы помним как!
					p Вы замечаете, что пользуетесь теми же рабочими методиками раз за разом? Если да, возможно, вы смотрите на разные проблемы под одним и тем же углом.