div(id="hyperbolic-depreciation")
	.bg-main.dark
		.container.section-container
			.section-head
				.img
					img(src="./images/4.png" alt="hiper-deprecation")
				.section-title
					h2 Гиперболическое обесценивание
					h4 Вы гонитесь за немедленной маленькой выгодой и игнорируете более крупную, недоступную сейчас, но доступную в будущем.
			.section-content
				h5.content-title Как проявляется
				.content-body
					p Вы когда-нибудь откладывали написание теста? Ловили себя на использовании клавиш-стрелок в Vim? Поздравляю, у вас наблюдается гиперболическое обесценивание.
					p Немедленная выгода от использования чего-то быстродоступного значительно смягчает боль, которую нужно перетерпеть, чтобы усвоить правильный синтаксис для перемещения на нужную строчку. Но как только вы поймёте как перемещаться быстрее, выгода в будущем намного выше. В итоге вы сохраните много времени.