div(id="premature-optimization")
	.bg-main.dark
		.container.section-container
			.section-head
				.img
					img(src="./images/2.png" alt="premature-optimization")
				.section-title
					h2 Преждевременная оптимизация
					h4 Вы оптимизируете что-то задолго до того, как в этом появляется необходимость.
			.section-content
				h5.content-title Как проявляется
				.content-body
					p Если вы добавите аэродинамический спойлер к своему старому автомобилю вместо ремонта мотора, то автомобиль не станет быстрее.
					p Отличный пример: писать максимально подтюненный и высокопроизводительный код для всего лишь экспериментального проекта.