div(id="errors-in-planning")
	.bg-main
		.container.section-container
			.section-head
				.img
					img(src="./images/5.png" alt="errors-in-planning")
				.section-title
					h2 Ошибка планирования
					h4 Неправильно рассчитывать время необходимое для завершения задачи.
			.section-content
				h5.content-title Как проявляется
				.content-body
					p Одно из искажений, которое должно признать большинство из нас. И менеджеры проекта, и сами пользователи продукта — все склонны ставить сроки, в которые невозможно закончить запланированное.
					p 
						| Это отлично выражается в старом афоризме:
						br
						| Первые 90% готового кода отнимают первые 90% времени разработки. Оставшиеся 10% отнимают вторые 90% времени разработки.