.container.py-100.d-flex.flex-column.align-items-center(id="video-section")
	.row
		.col
			h1.text-center
				span Что же это такое,
				br
				span.text-primary когнитивные искажения?
	p.text-center Что такое когнитивные искажения? Petrovna Channel
	iframe.video(src="https://www.youtube.com/embed/jie9AizBqss" frameborder="0" allowfullscreen)