.container.py-100.text-center(id="video-section")
	.row
		.col
			h1
				span Что же это такое,
				br
				span.text-primary когнитивные искажения?
	p Что такое когнитивные искажения? Petrovna Channel
	iframe.video(width="919" height="569" src="https://www.youtube.com/embed/jie9AizBqss" frameborder="0" allowfullscreen)